<footer>
  <div class="bg-gray-200  mt-4 text-center p-4">

    <span class="text-2xl font-bold ">
      <%= new Date().getFullYear() %> Apex Solutions, Tous droits réservés
    </span>

  </div>
</footer>