<header>
  <div class="flex bg-white justify-between py-5 px-60">
    <div>
      <h1 class="text-3xl">Apex Solutions</h1>
    </div>
    <div>
      <ul class="flex text-2xl gap-5">
        <li> <a href="/">Accueil</a></li>
        <li><a href="service">Nos services</a></li>
        <li><a href="contact">Contactez-nous</a></li>
      </ul>
    </div>
  </div>
</header>